﻿@using OnlineOrderPortal.Data.Models
@model List<OnlineOrderPortal.Data.Models.Customer>
@{
    ViewData["Title"] = "Index";
}

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
}

<h1>
    Customer Details
</h1>

<div class="col-md-12" id="tableParentDiv" style="display: table">
    <table class="table" id="customerTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(result => customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(result => customer.Email)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>