﻿@model OnlineOrderPortal.Data.Models.Customer

@{
    ViewData["Title"] = "New";
}

<h1>New</h1>

<form id="newCustomerForm" asp-action="Create" asp-controller="Customer">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" id="customerName" asp-for="Name" />
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="text" id="email" asp-for="Email" />
    </div>
    <button name="button" type="submit" class="btn btn-primary" id="createCustomerButton">Create</button>
</form>

