﻿@model List<OnlineOrderPortal.Data.Models.Order>
@{
    ViewData["Title"] = "Index";
}

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $("#getOrderButton").click(function (e) {
            e.preventDefault();
            console.log("click button");
            var data = {
                customerName: $("#customerNameInput").val().trim()
            };
            $.ajax({
                url: "/Order/GetCustomerOrder",
                data: data,
                type: "get",
                success: function (response) {
                    $("#orderDetailResult").html(response);
                }
            })
        });

        $("#addOrderButton").click(function (e) {
            e.preventDefault();
            console.log("click button");
            var data = {
                customerName: $("#customerNameInput").val().trim(),
                price: $("#priceInput").val().trim()
            };
            $.ajax({
                url: "/Order/CreateOrder",
                data: data,
                type: "post",
                success: function (response) {
                    alert("New order created");
                    $("#orderDetailResult").html(response);
                }
            })
        });
    </script>
}


<h1>Order Details</h1>

<div class="row">
        <div class="col-md-2">
            <form id="getOrderForm">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input id="customerNameInput" type="text">
                    <button type="submit" id="getOrderButton">Get Orders</button>
                </div>
            </form>
            <form id="addOrder">
                <div class="form-group">
                    <label>Price</label>
                    <input id="priceInput" type="number">
                    <button type="submit" id="addOrderButton">Add Order</button>
                </div>
            </form>
        </div>
            <div class="col-md-10" id="orderDetailResult">
    </div>
</div>