﻿@using OnlineOrderPortal.Data.Models
@model List<OnlineOrderPortal.Data.Models.Order>

@section Scripts
    {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
}



<div class="col-md-12" id="orderTableParentDiv" style="display: table">
    <table class="table" id="orderTable">
        <thead>
            <tr>
                <th scope="col">Price</th>
                <th scope="col">Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(result => order.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(result => order.CreatedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>