﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card-deck ">
        <a class="card text-center p-1" asp-controller="Customer" asp-action="New">
            <div class="card-body">
                <h5 class="card-text"></h5>
                <h5 class="card-title">Add Customer</h5>
            </div>
        </a>

        <a class="card text-center p-1" asp-controller="Customer" asp-action="GetCustomersWithoutOrders">
            <div class="card-body ">
                <h5 class="card-text"></h5>
                <h5 class="card-title">Get Customer Without Orders</h5>
            </div>
        </a>
        <a class="card text-center p-1" asp-controller="Order" asp-action="Index">
            <div class="card-body">
                <h5 class="card-text"></h5>
                <h5 class="card-title">Get Orders</h5>
            </div>
        </a>
    </div>
</div>
